# SSH Configuration
ssh_user             = "k8s-admin"
ssh_private_key_path = "~/.ssh/id_ed25519"

# TrueNAS NFS Configuration
truenas_nfs_server = "192.168.86.200"  # Update with your TrueNAS IP
truenas_nfs_path   = "/mnt/ssd-pool/k8s-storage"

# Kubernetes Configuration
kubernetes_version = " 1.31.4"
pod_network_cidr   = "10.244.0.0/16"
service_cidr       = "10.96.0.0/12"

# MetalLB Configuration
metallb_ip_range   = "192.168.86.200-192.168.86.250"
